@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="Welcome" class="display-4">Welcome</h1>
    <button onclick="sendMessageToServer()">Hi</button>
</div>

<script>
    const { ipcRenderer } = require("electron");

    function sendMessageToServer() {
        ipcRenderer.send('channelToServer', 'Hi');
    }

    ipcRenderer.on('channelToClient', (event, arg) => {
        document.getElementById("Welcome").innerText = arg
    });
</script>
