@{
    ViewBag.Title = "Image Repository";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<DockerRegistryAPI.Models.ImageModel>
<h2>Image Repository</h2>

<table class="table">
    <thead><tr><td style="font-weight: bold">Tags</td></tr></thead>
    <tbody>
        
        @foreach (var Image in this.Model)
        {
            <tr>
                <td>@Html.ActionLink(Image.Tag, "Details", new { @image = Image.Name, tag = Image.Tag }, null)</td>
            </tr>
        }
    </tbody>
</table>
